
#df_content{
    margin-left:50px;
    padding: 0;
    border: 1px solid #DDDDDD;
}

#p_content{
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: black;
}

.p_gray{
    background-color: #F8F8F8;
}

.p_white{
    background-color: white;
}